body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
    /*color:black;*/
    max-width: 100ch;
    margin-inline: 5% 10%;
    writing-mode: horizontal-tb;
    padding: 1em;
    color-scheme: light dark;
    
}

/*pictures*/

.fit-picture {
  width: 300px; 
  height: auto; 
}

/*navgiation bar*/

nav  {
  --border-color: oklch(50% 10% 200 / 40%);
  padding: 0;
  display: flex; 
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
  /*border-bottom-color: oklch(80% 3% 200);*/

}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: contents;
}

nav a {
  display: inline-block;
  flex: 1; 
  color: inherit;
  text-align: center;
  padding: 0.5em;
  text-decoration: none; 
}

nav a:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
  padding-bottom: 0.2em;
  color: inherit; /* Ensure the color of the link is inherited */
}

/* Adjust the background color based on the theme */
[data-color-scheme="dark"] nav a:hover {
  background-color: var(--color-hover-dark);
}

[data-color-scheme="light"] nav a:hover {
  background-color: var(--color-hover-light);
}

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  padding-bottom: 0.2em;
  border-bottom-color: var(--border-color);
  /*border-bottom-color: oklch(80% 3% 200);*/
  width: 150%;
  color: inherit; /* Ensure the color of the current link is inherited */
}

:root {
  --color-accent: #FFA500;
  --light-accent: hsl(39, 100%, 80%);
  --color-scheme: light; 
  --color-hover-dark: rgba(255, 165, 0, 0.2); /* Adjust the hover background color for dark theme */
  --color-hover-light: rgba(255, 165, 0, 0.5); /* Adjust the hover background color for light theme */
}

/*Contact*/

/*Step 3.3: Grid layout*/
.form {
  display: grid;
  grid-template-columns: auto 1fr; 
  gap: 1em; 
}

label {
  display: grid;
  grid-template-columns: subgrid; 
  grid-column: 1 / -1; 
  gap: 1em;
}

/*.form label {
  display: block;
  margin-bottom: 0.5em;
}*/

.form input[type="text"],
.form input[type="email"],
.form textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form input[type="submit"] {
  grid-column: 1 / span 2; 
  padding: 0.5em 1em;
  background-color: #FFA500; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form input[type="submit"]:hover {
  background-color: #FF8500;
}



/*Projects*/ 

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 50px
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
}

.projects article {
  grid-row: span 3; 
}


.projects article {
  margin-bottom: 20px; /* Add margin at the bottom of each article */
  min-height: 200px; /* Set a minimum height for each article */
}

.projects article h2 {
  margin: 0;
  margin-bottom: 20px; /* Add margin at the bottom of each article */
  min-height: 200px; /* Set a minimum height for each article */
}


.projects h1 {
  font-size: 400%; 
}

.projects h2 {
  font-size: 200%; 
}

.projects h1,
.projects h2,
.projects h3,
.projects h4,
.projects h5,
.projects h6 {
  line-height: 1.1; 
  text-wrap: balance;
}


/*resume*/

.resume-page {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.resume-page h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  Color:var(--color-accent);
}

.resume-page h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.job .date label {
  font-style: italic;
  margin-left: auto;
}

/*.job {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
}*/

.job .bullet-points {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  padding: 1em;
  align-items: center; /* Adjust the alignment as needed */
}

.job .bullet-points p {
  margin: 0;
}

.job .bullet-points > p::before {
  content: "\2022";
  color: var(--color-accent);
}


/*dark mode*/

html {
  color-scheme: light dark; 
  background-color: canvas; 
  color: canvastext;
}

@media (prefers-color-scheme: dark) {
  nav li a {
    color: inherit; /* Use inherited color */
  }
}

[data-color-scheme="dark"] {
  color-scheme: dark;
}

[data-color-scheme="light"] {
  color-scheme: light;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}